NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:5173
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_PROJECT_ID=gymrattracker-50998
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@gymrattracker-50998.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=cddc3e4990d2ed79a673807ae7fbda5cceea346e
RAZORPAY_KEY_ID=rzp_test_Sf5s31h9Bl4JQS
RAZORPAY_KEY_SECRET=FC2Y9ECPoS75q7x7CBHrZMbf
RAZORPAY_WEBHOOK_SECRET=4634
RAZORPAY_WEBHOOK_URL=https://gymrat-tracker-r7u8.vercel.app/api/payments/webhook
